<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>VideoStore</title>

  <!-- CSS  -->
  <link href="lib/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="lib/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="index-banner">
    <div class="container">
        <br />
      <h1 class="header center">Bienvenue sur VideoStore</h1>
      <div class="row center">
        <h5 class="header col s12 light">Votre vidéostore à portée de main</h5>
      </div>
        <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-3">Accéder à la vidéothèque</a>
        </div>
      <br><br>
    </div>
  </div>
    
   <!--  MENU 
    <ul id="nav-mobile" class="side-nav fixed">
    </ul>-->

<br />
  <div class="container">
    <div class="section">
      <div class="row">
          <form class="col s12">
              <div class="row">
                  <div class="input-field col s3 offset-s3">
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Pseudo</label>
                  </div>
                  <div class="input-field col s3">
                      <input id="icon_telephone" type="password" class="validate">
                      <label for="icon_telephone">Mot de passe</label>
                  </div>
                  <div class="col s3 offset-s5">
                      <button class="btn waves-effect waves-light center red lighten-2" type="submit" name="action">Connexion
                      </button>
                      <a href="../videoStore/inscription" class="waves-effect waves-light btn" >Inscription</a>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="lib/js/materialize.js"></script>
  <script src="lib/js/init.js"></script>

  </body>
</html>
