<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>VideoStore</title>

    <!-- CSS  -->
    <link href="lib/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="lib/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<!-- Nav -->
<nav class="blue lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">VidaTech</a>
        <ul id="slide-out" class="side-nav">
            <li><a href="connexion">Connexion</a></li>
            <li><a href="inscription">Inscription</a></li>
            <li><a href="#!">Recherche</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>

<main>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="card-panel white center">
                    <img class="materialboxed responsive-img z-depth-1" width="200" src="lib/images/johnny_english_reborn.jpg">
                    <div class="card-content grey-text">
                        <p>
                            Date de sortie : 19 octobre 2011
                            <br />Réalisé par : Oliver Parker
                            <br />Avec : Rowan Atkinson, Gillian Anderson, Dominic West plus
                            <br />Genre : Comédie , Espionnage
                            <br />Nationalité : Français , Américain , Britannique
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m8 l9">
                <div class="card-panel white">
                    <div class="card-content grey-text">
                        <span class="card-title grey-text darken-1"><h5>Johnny English : Reborn</h5></span>
                        <p>Ayant pris quelques années pour vivre retiré dans une région reculée d’Asie, Johnny English,
                            le meilleur agent du MI7, en a profité pour perfectionner ses compétences uniques. Lorsque ses
                            supérieurs apprennent que la vie du Premier ministre chinois est menacée, ils décident de le
                            rappeler pour déjouer le complot. Si le monde a besoin de lui, Johnny English est prêt à
                            reprendre du service… plus déjanté et déchaîné que jamais.</p>
                        <p>À seulement quelques jours de
                            la conférence internationale, English va devoir faire appel aux derniers gadgets hightech
                            et à ses méthodes singulières pour enrayer l’infernale machination impliquant les Russes,
                            la CIA et même le MI7… Enchaînant bourdes et catastrophes, Johnny English va tout tenter
                            et même plus pour sauver le monde…</p>
                    </div>
                    <div class="card-action center">
                        <a class="waves-effect waves-light btn"><i class="mdi-file-cloud right"></i>Réserver</a>
                        <a class="waves-effect waves-light btn"><i class="mdi-file-cloud right"></i>Louer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

</main>
<footer class="page-footer blue lighten-2">
    <div class="footer-copyright lighten-2">
        <div class="container">
            &copy; VidaTech
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="lib/js/materialize.js"></script>
<script src="lib/js/init.js"></script>

</body>
</html>