<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>VideoStore</title>

  <!-- CSS  -->
  <link href="../lib/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../lib/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="index-banner">
    <div class="container">
        <br />
      <h1 class="header center">Bienvenue sur VideoStore</h1>
      <div class="row center">
        <h5 class="header col s12 light">Votre vidéostore à portée de main</h5>
      </div>
        <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-3">Accéder à la vidéothèque</a>
        </div>
      <br><br>
    </div>
  </div>
    
   <!--  MENU 
    <ul id="nav-mobile" class="side-nav fixed">
    </ul>-->


  <div class="container">
    <div class="section">
      <div class="row">
          <form class="col s12">
              <div class="row">
                  <div class="input-field col s6 ">
                      <input id="first_name" type="text" class="validate">
                      <label for="first_name">Prénom</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Nom</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Pseudo</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Adresse</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="last_name" type="number" class="validate">
                      <label for="last_name">Code postal</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Ville</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Téléphone</label>
                  </div>
                  <div class="col s3 offset-s5">
                      <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action">Inscription
                      </button>                      
                      <a href="../videoStore/connexion" class="waves-effect waves-light btn center" >Connexion</a>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="lib/js/materialize.js"></script>
  <script src="lib/js/init.js"></script>


  </body>
</html>
