<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>VideoStore</title>

	<!-- CSS  -->
	<link href="lib/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="lib/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="blue lighten-2" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">VidaTech</a>
		<ul id="slide-out" class="side-nav">
			<li><form action='../videoStore/video' method='post'>
				<div class="input-field">
					<input id="search" type="search" required name='titre' placeholder='Rechercher'>
					<label for="search"><i class="mdi-action-search"></i></label>
				</div>
			</form></li>
			<li><a href="../videoStore/videotech">Films</a></li>
			<li><a href="components.html">Magasins</a></li>
			<li><a href="../videoStore/connexion">Log-out</a></li>
			<li><a href="sass.html">Réservations</a></li>
			<li><a href="sass.html">Stock</a></li>
			<li><a href="sass.html">Mon compte</a></li>
			<li><a href="components.html">Déconnexion</a></li>
		</ul>
		<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
	</div>
</nav>
<br />
<main>
	<div class="container">
		<div class="section">
			<div class="row">
				<h4>Nouveautés:</h4>
				<div class="col s3">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<a href='../videoStore/video?id=1'><img class="" src="lib/images/interstellar.jpg"></a>
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">Nom <i class="mdi-navigation-more-vert right"></i></span>
							<p><a href="../videoStore/connexion">Réserver</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">Nom <i class="mdi-navigation-close right"></i></span>
							<p>Synopsis </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<br><br>
</main>
<footer class="page-footer blue lighten-2">
	<div class="footer-copyright lighten-2">
		<div class="container">
			&copy; VidaTech
		</div>
	</div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="lib/js/materialize.js"></script>
<script src="lib/js/init.js"></script>

</body>
</html>